
.container-title{
    display: flex;
    justify-content: center;
    color: #666666;
    margin-right: 58%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.container-items{    
    background-color: white;
    display: flex;
    justify-content: center;
    margin-left: 17%;
    margin-right: 18%;
}

.container-item {
    display: grid;
    grid-template-columns: auto 22rem 60rem;
    margin-left: 22%;
    padding: 1.5% 1rem;    
}

.container-image{
    width: 180px;
    height: 180px;   
}

.container-description{
    margin-left: 18px;
}

.container-place{
    margin-left: 40rem;
}