
.container-title{
    display: flex;    
    color: #666666;
    margin: 15px auto 15px;
    max-width: 1296px;
}

.container-items{    
    background-color: white;
    display: flex;    
    position: relative;
    margin: auto;   
    max-width: 1314px;
}

.container-image{
    max-width: 180px;
    height: 180px;   
    padding: 15px;
    border-radius: 4px;
}

.container-description{
    padding: 15px;
}

.container-place{
    position: absolute;
    right: 20px;
    padding: 15px;
}